.container_hospital {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100;
  min-height: 90vh;
  max-height: 100vh;
  background-color: var(--mainColorLight);
  border-radius: 100% 0% 100% 0% / 31% 100% 0% 69%;
  gap: 6rem;
}

.contents_hospital {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.5rem;
  width: 30%;
}
.image_section_hospital {
  width: 30%;
}

.contents_hospital h1 {
  font-size: 45px;
  color: var(--mainColor);
}
.contents_hospital p {
  color: var(--mainColor);
}

.buttons_hospital {
  /* margin-top: 30px; */
}

.contents_hospital h2 {
  font-size: 25px;
  cursor: pointer;
  color: var(--mainColor);
}

.contents_hospital h2:hover {
  color: var(--secondaryColor);
}
.contents_hospital h2 span {
  margin-right: 10px;
}
img {
  width: 350px;
}
