.container_KSEB {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 90vh;
  max-height: 100vh;
  background: var(--mainColorLight);
  border-radius: 100% 0% 100% 0% / 13% 90% 10% 87%;
}

.contents_KSEB {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.5rem;
  width: 40%;
}
.image_section_KSEB {
  width: 40%;
}

.contents_KSEB h1 {
  font-size: 45px;
  color: var(--mainColor);
}
.contents_KSEB p {
  color: var(--mainColor);
}

.buttons_KESB {
  margin-top: 30px;
}

.contents_KSEB h2 {
  font-size: 25px;
  cursor: pointer;
  color: var(--mainColor);
}

.contents_KSEB h2:hover {
  color: var(--secondaryColor);
}
.contents_KSEB h2 span {
  margin-right: 10px;
}
img {
  width: 350px;
}
