@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

:root {
  --mainColor: #172a3a;
  --mainColorLight: #f7f8f2;
  --secondaryColor: #7a9e9f;
  --textColor: #eee;
  --headColor: black;
}

.App {
  text-align: center;
  background-color: var(--mainColor);
}
